.ipynb_checkpoints/
*.RData
*.html
*.Rhistory
#*.pdf
functional_data_analysis.pdf
env2344-sup-0001-supplementary1.pdf
Lee_et_al-2015-Environmetrics.pdf
reference/
img/
fda_packages/
functional-data-analysis-with-r-and-matlab.pdf
canadian_weather 그래프.hwp