.ipynb_checkpoints/
*.Rhistory
reference/
fda_packages/
reference/
paper/
build/

# RData
daily_avg.RData
hourly_data.RData

# book and paper
functional-data-analysis-with-r-and-matlab.pdf
functional_data_analysis.pdf
env2344-sup-0001-supplementary1.pdf
Lee_et_al-2015-Environmetrics.pdf

# ETC
canadian_weather 그래프.hwp